<div class="container">

      <md-content md-scroll-y="" flex="" class="md-padding ng-scope md-default-theme">
        <div layout="column" class="doc-content ng-scope" style="margin-bottom: 45%;">

          <md-content class="extraPad md-default-theme" style="margin-top: 28%;">

            <span style="color: #009688; font-size: 200%;">Sergio</span><span style="color: #009688; font-weight: bold; font-size: 200%;">Rodr&iacute;guez</span>

            <nav style="margin-top: 25px; border-left: 5px solid; padding-left: 20px; border-left-color: #b2dfdb;">
              <ul style="list-style:none; margin-top: 0; padding-left: 0;">
                        <li style="font-size: 20px; line-height: 40px;"><i class="fa fa-envelope-o fa-2x" style="margin-right: 5px; color: #009688;"></i><a style="text-decoration: none; color: #757575;" data-qp-ui="{ 'SmoothScroll': {} }" href="#color-color-palette" data-qp-ui-data-id="qp:g">sergiorodriguezcalvo@gmail.com
                                </a></li>
                        <li style="font-size: 20px; line-height: 40px;"><i class="fa fa-linkedin fa-2x" style="margin-right: 5px; color: #009688;"></i><a style="text-decoration: none; color: #757575;" data-qp-ui="{ 'SmoothScroll': {} }" href="#color-ui-color-application" data-qp-ui-data-id="qp:h">Sergio Rodr&iacute;guez Calvo
                                </a></li>
                        <li style="font-size: 20px; line-height: 40px;"><i class="fa fa-github fa-2x" style="margin-right: 5px; color: #009688;"></i><a style="text-decoration: none; color: #757575;" data-qp-ui="{ 'SmoothScroll': {} }" href="#color-themes" data-qp-ui-data-id="qp:i">serrodcal
                        </a></li>
                      </ul>
            </nav>

            <!--p><em>New to Angular.js? Before getting into Angular Material, it might be helpful to <a href="https://egghead.io/articles/new-to-angularjs-start-learning-here" target="_blank" title="Link opens in a new window">read about the framework</a>.</em></p-->
          </md-content>
        </div>
      </md-content>
</div>